<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student List</title>
</head>
<body>
<h1>Student List</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Kana Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Region</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Remark</th>
    <th>Is Deleted</th>
    <th>Courses</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="detail : ${studentList}">
    <td th:text="${detail.student.id}"></td>
    <td th:text="${detail.student.name}"></td>
    <td th:text="${detail.student.kanaName}"></td>
    <td th:text="${detail.student.nickname}"></td>
    <td th:text="${detail.student.email}"></td>
    <td th:text="${detail.student.region}"></td>
    <td th:text="${detail.student.age}"></td>
    <td th:text="${detail.student.gender}"></td>
    <td th:text="${detail.student.remark}"></td>
    <td th:text="${detail.student.isDeleted ? 'Yes' : 'No'}"></td>
    <td>
      <ul>
        <li th:each="course : ${detail.studentsCourses}"
            th:text="${course.courseId}"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
